body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background.jpg') no-repeat center center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    position: relative;
}

.letter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;  
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 3;
}

.letter {
    background: #ffffffe1;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(39, 39, 39, 0.411);
    border-radius: 10px;
    position: relative; 
    z-index: 2; 
}

.round-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: -130px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 4; 
}

.round-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

button {
    background-color: #ff5e5e;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #e04e4e;
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.88); 
    transform-origin: center; 
}

.message {
    background: #ffffffe1;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    /*color: rgba(0, 0, 0, 0.788);*/
    text-align: center;
    position: relative;
    z-index: 3;
    transform: scale(0.88); 
}
.message h1 {
    color: #e04e4e;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;  
    pointer-events: none;
    background: transparent;
}
